
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #979797;
  --color-secondary: #F5F5F3;
  --color-btn: #262626;

  --font-display: "DM Sans", sans-serif;
}
@layer components {
  .wrapper {
    @apply max-w-330 mx-auto px-3 md:px-6 lg:px-8 py-3;
  }
  .heading{
    @apply text-[#262626]
  }

}
@layer base {
  p {
    @apply text-[#767676];
  }
  body {
    @apply font-display;
      font-family: "DM Sans", sans-serif;

  }
}

